@font-face {
    font-family: play-fair;
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/11018964/pexels-photo-11018964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    padding: 50px;
}

#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(155, 155, 155, 0.426);
    z-index: 0;
}

.insBox{
    height: 70px;
    min-width: 70px;
    width: auto;
    user-select: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.492);
    /* border: 3px solid black; */
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
}

/* .insBox:hover{
    border: 3px solid yellow;
    transform: scale(1.1); 
} */

/* #insBox1{
    height: 100px;
    width: 100px;
    top : 100px;
    left: 80px;
}

#insBox2{
    height: 200px;
    width: 200px;
    top : -60px;
    left: 0px;
}

#insBox3{
    height: 340px;
    width: 340px;
    top : 100px;
    left: -0px;
} */

.letter{
    font-size: 20px;
    color: rgba(240, 248, 255, 0.399);
    /* font-family: play-fair; */
    margin-bottom: 5px;
    position: absolute;
    font-size: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.name{
    color: yellow;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
}